@tailwind base;
@tailwind components;
@tailwind utilities;

.hover-underline-animation {
  display: inline-block;
  position: relative;
}

.hover-underline-animation:after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #0087ca;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.hover-underline-animation:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}


.section-about {
  background-color: #f7f7f7;
  padding: 20rem 0;
  margin-top: -40vh;
  /* margin-bottom: 10vh; */
}

.section-feature {
  padding: 20rem 0;
  background-image: linear-gradient(
    to right bottom,
    rgba(126, 213, 111, 0.808),
    rgba(40, 180, 133, 0.808)
  );
  background-size: cover;
  transform: skewY(-7deg);
  margin-top: -8.9rem;
}
.section-feature > * {
  transform: skewY(7deg);
}
@media (max-width: 56.25em) {
  .section-feature {
    padding: 10rem 0;
  }
}

.composition {
  position: relative;
}
.compositionPhoto {
  width: 55%;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.4);
  border-radius: 2px;
  position: absolute;
  z-index: 10;
  transition: all 0.2s;
  outline-offset: 2rem;
}
@media (max-width: 56.25em) {
  .compositionPhoto {
    float: left;
    position: relative;
    width: 33.33333%;
    box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.2);
  }
}
.compositionPhoto-p1 {
  left: 0;
  top: 0;
}
@media (max-width: 56.25em) {
  .compositionPhoto-p1 {
    top: 0;
    transform: scale(1.2);
  }
}
.compositionPhoto-p2 {
  right: 0;
  top: 6rem;
}
@media (max-width: 56.25em) {
  .compositionPhoto-p2 {
    top: -1rem;
    right: 0rem;
    z-index: 11;
    transform: scale(1.3);
  }
}
.compositionPhoto-p3 {
  top: 13rem;
  left: 6rem;
}
@media (max-width: 56.25em) {
  .compositionPhoto-p3 {
    top: 1rem;
    left: 0rem;
    transform: scale(1.1);
  }
}
.compositionPhoto:hover {
  outline: 1.5rem solid #55c57a;
  transform: scale(1.1) translateY(-5px);
  box-shadow: 0 22.5rem 4rem rgba(0, 0, 0, 0.5);
  z-index: 20;
}
@media (max-width: 56.25em) {
  .compositionPhoto:hover {
    transform: scale(1.4) translateY(-5px);
  }
}
.composition:hover .compositionPhoto:not(:hover) {
  transform: scale(0.9);
}

.heading-secondry {
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: 700;
  background-image: linear-gradient(to right, #7ed56f, #28b485);
  display: inline-block;
  -webkit-background-clip: text;
  color: transparent;
  letter-spacing: 2px;
  transition: all 0.2s;
}
@media (max-width: 56.25em) {
  .heading-secondry {
    font-size: 3rem;
  }
}
@media (max-width: 37.5em) {
  .heading-secondry {
    font-size: 2.5rem;
  }
}
.heading-secondry:hover {
  transform: scale(1.1);
  text-shadow: 0.5rem 1rem 2rem black;
}

.heading-tertiary {
  font-size: 1.6rem;
  font-weight: 700;
  text-transform: uppercase;
}

.paragraph {
  font-size: 1.6rem;
}
.paragraph:not(:last-child) {
  margin-bottom: 3rem;
}
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}


/* testimonial section */
.parent {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 25px;
  padding: 5px;
  height: 100vh;
  width: 80rem;
  margin: auto;
}

.shell {
  padding: 15px;
  border-radius: 10px;
  color: white;
  box-shadow: 0px 2px 15px -2px grey !important;
}

.head {
  font-size: 16px;
  display: flex;
  align-items: center;
}

.head1 {
  opacity: 80%;
}

.statement {
  font-size: 23px;
  font-weight: 600;
  /* width: 100%; */
  word-wrap: break-word;
}

.rp {
  font-weight: 500;
  padding-right: 50px !important;
  /* line-height: 150%; */
  font-size: 17px;
}

.content {
  opacity: 70%;
}

.head,
.statement,
.content {
  padding: 10px;
}

.div1 {
  grid-area: 1 / 1 / 2 / 3;
  background-color: hsl(263, 55%, 52%);
  color: white;
  background-image: url("./images/bg-pattern-quotation.svg");
  background-repeat: no-repeat;
  background-size: 20%;
  background-position: top 0px right 130px;
}
.div2 {
  grid-area: 2 / 2 / 3 / 4;
  background-color: hsl(219, 29%, 14%);
  color: white;
}
.div3 {
  background-color: white;
  grid-area: 2 / 1 / 3 / 2;
  color: black;
}
.div4 {
  grid-area: 1 / 3 / 2 / 4;
  background-color: hsl(217, 19%, 35%);
  color: white;
}
.div5 {
  background-color: white;
  grid-area: 1 / 4 / 3 / 5;
  color: black;
}

@media (max-width: 900px) {

  .parent {
    display: flex;
    flex-direction: column;
  }
  .div1 {
    background-image: url("./images/bg-pattern-quotation.svg");
    background-repeat: no-repeat;
    background-size: 30%;
    background-position: top 0px right 20px;
  }
}